:root {
    --dark: #222222;
    --gray: #444444;
    --text: rgb(19, 194, 238);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--dark);
}
.App {
    display: block;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
}
.context-all {
    display: grid;
    grid-template-columns: 300px 1fr 80px;
    grid-template-rows: 1fr;
    margin: 0 auto;
    padding-top: 2rem;
    width: 75%;
}
.info {
    background-color: var(--gray);
    display: grid;
    grid-template-rows: 250px 150px 1fr 1fr 50px;
    min-height: calc(100vh - 2rem);
}
.info .image-container {
    background-color: var(--gray);
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    border-bottom: var(--dark) 5px solid;
}
.info .image-container .profile-img {
    background-image: url(./assets/img/profilbild.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 180px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: black 5px solid;
    box-shadow: 0px 0px 10px white;
}
.info .image-container .title {
    color: var(--text);
    text-align: center;
    background-color: var(--gray);
}
/* 
.main-container .bg-image {
    width: 100%;
    height: 15rem;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
}
/* .bg-image1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(85%);
    filter: grayscale(85%);
    z-index: 0;
} */
/* .profile-img {
    object-fit: cover;
    border-radius: 50%;
    z-index: 1;
    border: var(--dark) 5px solid;
    margin: 1rem;
    box-shadow: 0px 0px 10px white;
}
.main-container .txt {
    width: 75%;
    height: 30rem;
    background-color: darkgrey;
}
.main-container .projects {
    width: 75%;
    height: 12rem;
    margin-top: 1rem;
    background-color: darkgrey;
} */
