* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    background-color: #222222;
}

.main-container .bg-image {
    width: 100%;
    height: 15rem;
    background-color: darkgrey;
    align-items: center;
}
.bg-image1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(85%);
    filter: grayscale(85%);
}
.main-container .txt {
    width: 75%;
    height: 30rem;
    background-color: darkgrey;
}
.main-container .projects {
    width: 75%;
    height: 12rem;
    margin-top: 1rem;
    background-color: darkgrey;
}
aside-container