:root {
    --dark: #222222;
    --gray: #444444;
    --text: rgb(255, 152, 34);
    --white: #fff;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--dark);
}
.App {
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    height: 100%;
    color: var(--white);
}
.container-body {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 75%;
}
.info {
    background-color: var(--gray);
    display: grid;
    grid-template-rows: 13rem 1fr 1fr 1fr;
    max-height: calc(100vh - 4rem);
}
.info .image-container {
    background-color: var(--gray);
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
.info .image-container .profile-img {
    background-image: url(./assets/img/profilbild.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0px 0px 10px white;
}
.info .image-container .title {
    color: var(--text);
    text-align: center;
    background-color: var(--gray);
}
.info .list-container {
    width: 100%;
    padding: 0.2rem;
    display: grid;
    background-color: var(--gray);
}
.info .list-container .list-title {
    background-color: var(--gray);
    padding: 0.2rem;
    text-align: center;
    text-decoration: underline;
    color: var(--text);
}
.info .list-container .list-data {
    background-color: var(--gray);
    padding: 0.2rem;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    color: white;
    line-height: 1.6;
}
.info .list-container .list-icon {
    background-color: var(--gray);
    padding: 0.2rem;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    color: white;
    line-height: 1.6;
}
.info .skills-container {
    background-color: var(--gray);
    width: 100%;
    padding: 0.05rem 0.4rem 0.05rem 0.4rem;
    display: grid;
    justify-items: center;
    align-items: center;
}
.info .skills-container .skills-title {
    background-color: var(--gray);
    padding: 0.2rem;
    text-align: center;
    text-decoration: underline;
    color: var(--text);
}
.info .skills-container .skills-data {
    background-color: var(--dark);
    width: 100%;
    padding: 0.2rem;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    line-height: 1.6;
    color: var(--white);
}
.info .skills-container .skills-progressbar1 {
    width: 90%;
    height: 100%;
    margin: auto;
    color: var(--dark);
    background: linear-gradient(to right, var(--text) 80%, var(--white) 20%);
    border-radius: 10px;
    text-align: center;
    line-height: 100%;
}
.info .skills-container .skills-progressbar2 {
    width: 90%;
    height: 100%;
    margin: auto;
    color: var(--dark);
    background: linear-gradient(to right, var(--text) 85%, var(--white) 15%);
    border-radius: 10px;
    text-align: center;
    line-height: 100%;
}
.info .skills-container .skills-progressbar3 {
    width: 90%;
    height: 100%;
    margin: auto;
    color: var(--dark);
    background: linear-gradient(to right, var(--text) 60%, var(--white) 30%);
    border-radius: 10px;
    text-align: center;
    line-height: 100%;
}
.info .skills-container .skills-progressbar4 {
    width: 90%;
    height: 100%;
    margin: auto;
    color: var(--dark);
    background: linear-gradient(to right, var(--text) 75%, var(--white) 35%);
    border-radius: 10px;
    text-align: center;
    line-height: 100%;
}
.info .skills-container .skills-progressbar5 {
    width: 90%;
    height: 100%;
    margin: auto;
    color: var(--dark);
    background: linear-gradient(to right, var(--text) 85%, var(--white) 30%);
    border-radius: 10px;
    text-align: center;
    line-height: 100%;
}
.info .language-container {
    background-color: var(--gray);
    width: 100%;
    padding: 0.2rem;
    margin: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--dark);
}
.info .language-title {
    color: var(--text);
    text-align: center;
    text-decoration: underline;
}
.info .language-container .language-level {
    text-align: center;
    color: var(--white);
}
.icons {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    background-color: var(--gray);
}
.icons .icons1 {
    color: var(--text);
    font-size: x-large;
    background-color: var(--gray);
}
.icons .icons2 {
    color: var(--text);
    font-size: x-large;
    background-color: var(--gray);
}
.icons .icons3 {
    color: var(--text);
    font-size: x-large;
    background-color: var(--gray);
}
.main {
    background-color: var(--dark);
    display: grid;
    grid-template-rows: 300px 50px 1fr;
    max-height: calc(100vh - 4rem);
    margin-left: 1rem;
}
.main .image-container {
    background-color: var(--dark);
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
.main .image-container .bg {
    background-image: url(./assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.main .header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    text-decoration: underline;
    background-color: var(--gray);
}
.main .projects {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: 0.5rem;
}
.main .projects .title {
    color: var(--text);
    text-align: center;
    text-decoration: underline;
}
.main .projects .cart {
    height: fit-content;
    width: fit-content;
    background-color: var(--gray);
    text-align: center;
    padding: 3rem;
}
.main .projects .cart .link {
    background-color: var(--gray);
}
